
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center border-bottom">Developer Page</h1>
<div class="table">
	<div class="row">
		<div class="col-5">
			<section title="Project Information">
				<h2>Mad Band&trade; Project</h2>
					<section class="border-bottom">
						<h3>Application Overview</h3>
						<p>The purpose of Mad Band is to organize a work flow for recording an album in a situation where the individuals in the band are independently responsible for delivering recorded material to a designated location.  In other words, they're recording the album themselves, not in a studio.</p>
						<p>The real purpose is to learn how to put a website together that does something.  This isn't all that complicated of a task as far as data organization is concerned, so there's an opportunity to focus on the mechanics of creating a program, without the added challenge of a complex data structure.</p>
					</section>
			</section>
		</div>
		<div class="col-7">
			<section title="The tools...">
				<h2>Architecture Overview</h2>
				<ul>
					<li>What is ASP.Net?</li>
					<li>What is MVC?</li>
					<li>WebPage vs. Controller/View</li>
					<li class="alert-info">Razor in WebPage or View</li>
					<li>SQL &amp; Entity Framework</li>
					<li>Dependency Injection</li>
					<li>CQRS Pattern / MediatR</li>
					<li id="Nuget">
						<div>
							<span>Nuget Packages</span>
							<ul>
								<li>AutoMapper</li>
								<li>AutoMapper.Extensions.Microsoft.DependencyInjection</li>
								<li>FluentValidation</li>
								<li>MediatR</li>
								<li>MediatR.Extensions.Microsoft.DependencyInjection</li>
								<li>Microsoft.AspNetCore.App</li>
								<li>Microsoft.AspNetCore.Razor.Design</li>
								<li>Microsoft.EntityFrameworkCore</li>
								<li>Microsoft.EntityFrameworkCore.Relational</li>
								<li>Microsoft.Extensions.Logging</li>
								<li>Microsoft.NETCore.App</li>
								<li>Microsoft.VisualStudio.Web.CodeGeneration.Design</li>
							</ul>
						</div>
					</li>


				</ul>
			</section>
		</div>
	</div>
</div>




